backend:
name: git-gateway
branch: main

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
- name: "recipes"
label: "Recipes"
folder: "recipes"
create: true
slug: "{{slug}}"
fields:
- { label: "Title", name: "title", widget: "string" }
- { label: "Date", name: "date", widget: "datetime" }
- { label: "Image", name: "image", widget: "image" }
- { label: "Body", name: "body", widget: "markdown" }
