backend:
name: git-gateway
branch: main

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
- name: "recipes"
label: "Recipes"
folder: "recipes"
create: true
slug: "{{slug}}"
fields:
- {label: "Recipe Title", name: "title", widget: "string"}
- {label: "Date", name: "date", widget: "datetime"}
- {label: "Description", name: "description", widget: "text"}
- {label: "Image", name: "image", widget: "image"}
- {label: "Ingredients", name: "ingredients", widget: "list"}
- {label: "Instructions", name: "body", widget: "markdown"}
